body{
	max-width: 50em;
	margin: 0 auto;
}
.bakgrunnur{
	background-image: url(img/bak1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	background-size: cover;
}
.wrapper{
	max-width: 50em;
	background-color: rgba(255, 255, 255, 0.7);
}
.mynd1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.mynd2, .mynd3{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	padding-bottom: 0px;
}
figcaption{
	margin-top: 5px;
}
.video{
	padding: 30px;
}
h1, h2, h3{
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	text-align: center;
}
.content{
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 1em;
}
.fotur{
	max-height: 300px;
}
.upp a{
	display: flex;
	justify-content: center;
	align-items: center;
    text-decoration: none;
    padding-top: 6px;
}
.upp{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	/*background-color: rgba(255, 255, 255, 0.5);*/
	background-color: rgba(255, 255, 255, 0.5);
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.wrapper2{
	display: flex;
	justify-content: space-between;
	max-width: 60em;
	margin:0 auto;
	padding: 1em;
}
h4{
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
}
ul{
	list-style-type: none;
	text-decoration: none;
}
li{
	padding: 5px;
}
li a{
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	text-decoration: none;
	color: black;
}
dd{
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
}
dt{
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
}

